@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'font-mediumSerifItalic';
}

.popup {
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 10px;
}

.text_editor:read-write:focus {
  outline: none;
}

[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  position: absolute;
  color: gray;
  background-color: transparent;
}

.underline {
  text-decoration: underline;
}